In [15]:
# Q1
l=[('Sachin tendulkar', 34357), ('ricky panting',27483),('jack kalis', 25534,),('virat kohli',24936)]

# using sorted 

list(sorted(l,key=lambda x:x[1]))

[('virat kohli', 24936),
 ('jack kalis', 25534),
 ('ricky panting', 27483),
 ('Sachin tendulkar', 34357)]

In [2]:
# Q2
l =range(1,11)

list(map(lambda x:x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# Q3

l=range(1,11)

tuple(map(lambda x:str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [6]:
# Q4

l =range (1,26)

from functools import reduce
product = reduce(lambda x,y:x*y ,l)

print(product)

15511210043330985984000000

In [8]:
# Q5

l=[2,3,6,9,27,60,90,120,55,46]

list(filter(lambda x : x%2==0 and x%3==0, l))

[6, 60, 90, 120]

In [14]:
# Q6

l =['pyhton','php','aba','radar','level']

def isPalindrome(s):
    length =len(s)
    x=0
    y=length-1

    while x<= length/2:
        if s[x] != s[y] :
            return 0
        x= x+1
        y=y-1

    return 1

list(filter(lambda x: isPalindrome(x)==1, l))

['php', 'aba', 'radar', 'level']